body {
  font-family: 'Roboto';
  background-color: #222;
  background-image: url("../img/backgrounds/1.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white; }

hr {
  height: 1px;
  border: none;
  background-color: white;
  opacity: .2;
  width: 100%; }

.data-item {
  font-size: 12px !important;
  min-width: 150px; }
  .data-item li {
    height: 20px;
    vertical-align: top;
    position: relative; }
    .data-item li p {
      display: inline-block;
      position: absolute;
      top: 2px;
      margin-left: 5px; }
    .data-item li img {
      height: 20px;
      display: inline-block; }

.viewPJ {
  position: relative; }
  .viewPJ .head {
    position: relative;
    z-index: 10; }
    .viewPJ .head .helmethover {
      position: absolute;
      margin-left: -28px; }
    .viewPJ .head .helmethover:hover {
      filter: brightness(2); }
  .viewPJ .body {
    position: relative;
    margin: 0 auto;
    margin-top: -8px;
    z-index: 9;
    width: 42px;
    height: 81px;
    text-align: center; }
    .viewPJ .body img:hover {
      filter: brightness(2); }
    .viewPJ .body .weapon {
      position: absolute;
      bottom: -2px;
      left: -9px; }
    .viewPJ .body .shield {
      position: absolute;
      bottom: 20px;
      right: -9px; }
  .viewPJ .name {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    margin-top: 20px; }
    .viewPJ .name small {
      font-size: 13px; }
  .viewPJ .stats {
    margin: 10px 20px 0px 20px; }
    .viewPJ .stats ul li {
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.4);
      padding: 5px 10px 5px 10px;
      box-sizing: border-box;
      border-radius: 20px; }
      .viewPJ .stats ul li img, .viewPJ .stats ul li p {
        display: inline-block;
        height: 20px;
        font-size: 14px;
        vertical-align: middle; }
      .viewPJ .stats ul li p {
        margin-top: 8px; }
  .viewPJ #items-view-pj .item {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute; }
  .viewPJ #items-view-pj .item:hover {
    filter: brightness(1.7); }
  .viewPJ #items-view-pj .weapon {
    left: 41px;
    top: 88px; }
  .viewPJ #items-view-pj .armor {
    left: 41px;
    top: 11px; }
  .viewPJ #items-view-pj .helmet {
    right: 32px;
    top: 11px; }
  .viewPJ #items-view-pj .shield {
    right: 32px;
    top: 79px; }
  .viewPJ #items-view-pj .tooltip-item {
    display: none; }

#generalContent {
  max-width: 1000px;
  margin: 0 auto; }
  #generalContent #headerPJ {
    width: 100%;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    height: 90px; }
    #generalContent #headerPJ #datosPJ #level {
      float: left;
      background-color: #1b4b72;
      width: 70px;
      height: 70px;
      text-align: center;
      line-height: 70px;
      margin: 10px;
      font-size: 30px; }
    #generalContent #headerPJ #datosPJ #data {
      float: left;
      height: 70px;
      margin: 10px;
      max-width: 350px; }
      #generalContent #headerPJ #datosPJ #data .nombrePJ {
        font-size: 25px; }
        #generalContent #headerPJ #datosPJ #data .nombrePJ img {
          height: 23px; }
      #generalContent #headerPJ #datosPJ #data .dataPJ {
        font-size: 13px;
        margin: 5px 0px 5px 0px; }
      #generalContent #headerPJ #datosPJ #data .levelbar {
        background-color: #2a9055;
        width: 100%;
        height: 20px;
        border-radius: 5px;
        text-align: center;
        line-height: 20px;
        font-size: 13px; }
    #generalContent #headerPJ #datosPJ #stats {
      float: left;
      height: 70px;
      margin: 10px;
      border-left: 1px solid rgba(255, 255, 255, 0.2); }
      #generalContent #headerPJ #datosPJ #stats ul {
        margin-left: 10px; }
        #generalContent #headerPJ #datosPJ #stats ul li {
          position: relative; }
          #generalContent #headerPJ #datosPJ #stats ul li img {
            display: inline-block;
            height: 20px;
            width: 20px; }
          #generalContent #headerPJ #datosPJ #stats ul li p {
            display: inline-block;
            font-size: 14px; }
          #generalContent #headerPJ #datosPJ #stats ul li .healthBar, #generalContent #headerPJ #datosPJ #stats ul li .manaBar, #generalContent #headerPJ #datosPJ #stats ul li .energyBar {
            display: inline-block;
            width: 150px;
            height: 15px;
            top: 4px;
            position: relative;
            margin-left: 6px;
            text-align: center;
            font-size: 14px;
            font-weight: 800;
            box-sizing: border-box;
            border-radius: 10px;
            background-color: black; }
            #generalContent #headerPJ #datosPJ #stats ul li .healthBar .bar, #generalContent #headerPJ #datosPJ #stats ul li .manaBar .bar, #generalContent #headerPJ #datosPJ #stats ul li .energyBar .bar {
              max-width: 100%;
              height: 14px;
              position: absolute;
              top: 0px;
              border-radius: 10px;
              z-index: 99; }
            #generalContent #headerPJ #datosPJ #stats ul li .healthBar span, #generalContent #headerPJ #datosPJ #stats ul li .manaBar span, #generalContent #headerPJ #datosPJ #stats ul li .energyBar span {
              position: relative;
              z-index: 999;
              line-height: 15px;
              -webkit-text-stroke-color: black;
              -webkit-text-stroke-width: 1px; }
          #generalContent #headerPJ #datosPJ #stats ul li .healthBar {
            border: 1px solid red; }
          #generalContent #headerPJ #datosPJ #stats ul li .manaBar {
            border: 1px solid blue; }
          #generalContent #headerPJ #datosPJ #stats ul li .energyBar {
            border: 1px solid yellow; }
          #generalContent #headerPJ #datosPJ #stats ul li .health {
            background-color: red; }
          #generalContent #headerPJ #datosPJ #stats ul li .mana {
            background: dodgerblue; }
          #generalContent #headerPJ #datosPJ #stats ul li .stamina {
            background-color: yellow; }
  #generalContent #pjContainer {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between; }
    #generalContent #pjContainer #vistaPJ {
      width: 390px;
      height: 350px;
      padding: 70px 40px 40px 40px;
      box-sizing: border-box;
      background-image: url("../img/ui/modules/view-pj/bg.png");
      background-size: cover;
      background-position: center;
      margin-right: 20px;
      text-align: center; }
    #generalContent #pjContainer #inventario {
      width: 595px;
      height: 350px;
      padding: 40px 55px 40px 55px;
      box-sizing: border-box;
      background-image: url("../img/ui/modules/item-inventary/bg.png");
      background-size: cover;
      background-position: center; }
      #generalContent #pjContainer #inventario .inv {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap; }
        #generalContent #pjContainer #inventario .inv li {
          flex: 1;
          flex-basis: 35px;
          max-width: 35px;
          margin: 5px 2.5px 2px 2.5px; }
          #generalContent #pjContainer #inventario .inv li .tooltip-item {
            display: none; }
          #generalContent #pjContainer #inventario .inv li figure {
            height: 35px;
            width: 35px;
            overflow: hidden;
            display: flex;
            align-items: center; }
            #generalContent #pjContainer #inventario .inv li figure img {
              width: 80%;
              margin: 0 auto; }
          #generalContent #pjContainer #inventario .inv li .options {
            display: none;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.9);
            border-radius: 10px;
            overflow: hidden;
            width: 120px; }
            #generalContent #pjContainer #inventario .inv li .options li {
              width: 100%;
              max-width: 100%; }
              #generalContent #pjContainer #inventario .inv li .options li button {
                background-color: transparent;
                color: white;
                border: none;
                cursor: pointer; }
            #generalContent #pjContainer #inventario .inv li .options li:hover {
              background-color: rgba(15, 215, 0, 0.3); }
          #generalContent #pjContainer #inventario .inv li article:hover > .options {
            display: block; }
          #generalContent #pjContainer #inventario .inv li .equip {
            border: 1px solid green;
            box-sizing: border-box; }
